@import url('validar-telefone.css');

.codigo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.codigo input {
  width: 50px;
  text-align: center;
  margin: 5px;
  font-size: 18px;
  border: 1px solid #C09E68;
  border-radius: 4px;
  background: #FCF4E9;
}

#timer {
  color: #C09E68;
  margin-top: 10px;
}
